<h2> Political Popularity </h2>
<h3> 2019 Australian Federal Elections </h3>
<br/>
<div class = "row">
    <div class = "col-4">
        <div id="chartdivmap" style="width: 100%; height: 500px"></div>
        <div class="row legend"><div class="col labor">&#8226;Labor</div><div class="col liberal">&#8226;Liberal</div></div>
    </div>
    <div class = "col-8">
        <p> This was how Australia voted for the 2019 Federal Elections <br/><br/>
        This data has been sourced from Aurin. Booth level election data has been concatenated to State Level. <br/>
        Here we attempt to measure the popularity of the two main australian political parties across the states, <br/>
        just before Coronavirus engulfed the world. </p>
        <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">State</th>
                
                <th scope="col">Votes for Labour</th>
                <th scope="col">Votes for Liberal</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Victoria</th>
                <td>{{VICLab}}</td>
                <td>{{VICLib}}</td>
              </tr>
              <tr>
                <th scope="row">Northern Territory</th>
                <td>{{NTLab}}</td>
                <td>{{NTLib}}</td>
              </tr>
              <tr>
                <th scope="row">Australian Capital Territory</th>
                <td>{{ACTLab}}</td>
                <td>{{ACTLib}}</td>
              </tr>
              <tr>
                <th scope="row">New South Wales</th>
                <td>{{NSWLab}}</td>
                <td>{{NSWLib}}</td>
              </tr>
              <tr>
                <th scope="row">Queensland</th>
                <td>{{QLDLab}}</td>
                <td>{{QLDLib}}</td>
              </tr>
              <tr>
                <th scope="row">Western Australia</th>
                <td>{{WALab}}</td>
                <td>{{WALib}}</td>
              </tr>
              <tr>
                <th scope="row">Southern Australia</th>
                <td>{{SALab}}</td>
                <td>{{SALib}}</td>
              </tr>
              <tr>
                <th scope="row">Tasmania</th>
                <td>{{TASLab}}</td>
                <td>{{TASLib}}</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- <h3>{{this.dataArray}}</h3> -->

