
<div class="container-fluid extendedContainer">
    <div class="row">
        <div class="col-xs-2 col-md-2">
            <div class="sidebar bg-gradient-to-r from-gray-800 to-gray-900">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="col-xs-7 col-md-8">
            <div class="header">
                </div>
            <router-outlet></router-outlet>

        </div>
        <div class="col-xs-3 col-md-2">
            <div class="sidebar-right bg-gradient-to-r from-gray-900 to-gray-800">
                <app-sidebar></app-sidebar>
            </div>
        </div>
    </div>
</div>
<div class="footer">

</div>