<app-jumbotron></app-jumbotron>
<router-outlet></router-outlet>
<!-- <div class="container-fluid">
  <div class="container-lg">
    <app-nectar-chart></app-nectar-chart>
  </div>
</div> -->
<div class="container-fluid">
  <div class="container-lg">
    <app-nectar-map-tweets></app-nectar-map-tweets>
  </div>
</div>
<div class="container-fluid">
  <div class="container-lg">
    <app-nectar-map-twitter></app-nectar-map-twitter>
  </div>
</div>
<div class="container-fluid">
  <div class="container-lg">
    <app-credits></app-credits>
  </div>
</div>
