<div class="row">
    <div class="col-md-6">
        <messages-component></messages-component>
    </div>
    <div class="col-md-6">
        <app-navigation-component></app-navigation-component>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-6">
        <app-graph-card></app-graph-card>
    </div>
    <div class="col-md-6">
        <app-graph-card></app-graph-card>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-2">
        <app-card-component></app-card-component>
    </div>
    <div class="col-md-2">
        <app-card-component></app-card-component>
    </div>
    <div class="col-md-8">
        <app-card-component></app-card-component>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-3">
        <app-card-component></app-card-component>
    </div>
    <div class="col-md-6">
        <app-card-component></app-card-component>
    </div>
    <div class="col-md-3">
        <app-card-component></app-card-component>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-6">
        <app-card-component></app-card-component>
    </div>
    <div class="col-md-6">
        <app-card-component></app-card-component>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-2">
        <app-card-component></app-card-component>
    </div>
    <div class="col-md-2">
        <app-card-component></app-card-component>
    </div>
    <div class="col-md-8">
        <app-card-component></app-card-component>
    </div>
</div>
<br/>